<div class="card text-center team-card-bg" style="margin-top: -50px;">
  <div class="card-body">
    <p style="text-align: left;">
      For further information please join our discord server <a href="https://discord.gg/JCUxVh9">here</a> and reach out to us directly.
      <br/><br/>
    <b>Cavalier</b>  – Commissioner – Branding – Art Manager - cavalier@owtranquility.com<br/>
    <b>SkifreeYeti</b> – Transcendence Tier Director – Iris Podcast Lead<br/>
    <b>Thuggington</b> – Harmony Tier Director – Iris Podcast<br/>
    <br/>
    <i>Additional Administration Team Members</i>
    <br/>
    <b>NPC</b> - Administrator – Community Special Events Lead – Iris Podcast Host<br/>
    <b>Booth</b> - Moderator – Twitch Manager<br/>
    <b>Bethcon2</b> - Moderator<br/>
    <b>Triage3</b> - Moderator<br/>
    <b>Crispy</b> - Social Media Coordinator<br/>
    <b>RaceFPV</b> - Webcode<br/>
</p>
  </div>
</div>