<div class="card text-center team-card-bg" style="margin-top: -50px;">
  <div class="card-body">
    <p style="text-align: left;">
    <b>Cavalier</b>  – Commissioner – Administrator - Discord Tier Director – Art Manager<br/>
    <b>SkifreeYeti</b> – Administrator - Transcendence Tier Director – Iris Podcast Lead<br/>
    <b>Thuggington</b> – Administrator – Harmony Tier Director – Iris Podcast<br/>
    <b>NPC</b> - Administrator – Community Special Events Lead – Iris Podcast<br/>
    <b>Juke</b> - Moderator – Twitch Manager<br/>
    <b>Crispy</b> - Social Media Coordinator<br/>
</p>
  </div>
</div>