<div class="card text-center team-card-bg">
  <div class="card-body">
    <h3 class="mb-0 text-dark">
      Preseason 3 matchups are here
    </h3>
    <div class="text-muted">< 7/15/2019 ></div>
    <hr/>
    
<div class="row">
    <div class="col-md-12">
        <%= image_tag 'season_three_matches/preseason_season3_discord.jpg', style: 'max-width: 100%;'%>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <%= image_tag 'season_three_matches/preseason_season3_harmony.jpg', style: 'max-width: 100%;'%>
    </div>
</div>
  </div>
</div>