<div class="card text-center team-card-bg" style="margin-top: -50px;">
  <div class="card-body">
    <%= image_tag("2021TranqBadge.png", width: "70%", alt: "tranq banner") %>
    <hr/>
    <p style="text-align: left;">
    Welcome to the Overwatch Tranquility Community. This community is intended to aid in the growth of players and their development in the game of Overwatch. It was first conceived as a casual intramural level tournament but has evolved into a developmental community helping players across multiple skill tiers in a season style format.
    <br/><br/>
    With that being said, Overwatch Tranquility is a well-organized community and will take the structure, branding, production and operation seriously. It’s a community that is meant to be fun and drama free, but that only works if everyone participates and follows the developed guidelines.
    <br/><br/>
    After five successful seasons we are set to kick off Season 6 February 10, 2020 with an expanded group that now contains 72 total teams across three tiers.
    <br/><br/>
    Harmony Tier (2000-3000 w/ 2650 SR avg)
    Discord Tier (2800-3500 w/ 3200 SR avg)
    Transcendence Tier (3300-4000 w/ 3650 SR avg)
    <br/><br/>
    The OWTC is open to all players in the Gold (2000 SR) to Masters (4000 SR) range, and it is meant to be an inclusive space to help build a community of competition and friendship.
    <br/><br/>
    I am looking forward to working with all of you to continue this community's success for years to come!
    <br/><br/>
    Thank You,
    <br/>
    Cavalier
    <br/>
    Commissioner
</p>
<i>-- Season 6 starts February 10th, 2021, <a href="https://www.twitch.tv/owtranquility" style="color: #CC922E;">Watch the latest matches on twitch.tv</a> --</i>
  </div>
</div>
