<div class="card text-center team-card-bg">
  <div class="card-body">
    <h3 class="mb-0 text-dark">
      From the desk of Cavalier
    </h3>
    <div class="text-muted">< 7/1/2019 ></div>
    <hr/>
    <p>
        Welcome to the Overwatch Tranquility Community. This community is intended to aid in the growth of players and their development in the game of Overwatch. It was first conceived as a casual intramural level tournament but has evolved into a developmental community helping players across multiple skill tiers.
    </p>
    <p>
        With that being said, Overwatch Tranquility is a well-organized community and will take the structure and operation seriously. It’s a community that is meant to be fun and drama free, but that only works if everyone participates and follows the developed guidelines.
    </p>
    <p>
    After two successful seasons we are set to kick off Season 3 July 31, 2019 with an expanded group that now contains 32 teams across two tiers. Harmony Tier (2000-2999 w/ 2650 avg) and Discord Tier (2800-3650 w/ 3300 SR).
    </p>
    <p>
    The OWTC is open to all players in the Gold (2000 SR) to Low Masters (3650 SR), it is meant to be an inclusive space to help build a community of competition and friendship.
    </p>
    <p>
    I am looking forward to working with all of you to continue this community's success for years to come!
    </p>
    <p>
    Thanks,<br/><br/>
    Cavalier<br/>
    OWT Commissioner</p>
  </div>
</div>