<div class="card text-center team-card-bg" style="margin-top: -50px;">
  <div class="card-body">
    <p style="text-align: left;">
    Welcome to the Overwatch Tranquility Community.  This community is intended to aid in the growth of players and their development in the game of Overwatch. It was first conceived as a casual intramural level tournament but has evolved into a developmental community helping players across multiple skill tiers in a league style format.
    <br/><br/>
    With that being said, Overwatch Tranquility is a well-organized community and will take the structure and operation seriously.  It’s a community that is meant to be fun and drama free, but that only works if everyone participates and follows the developed guidelines.
    <br/><br/>
    After three successful seasons we are set to kick off Season 4 February 26, 2020 with an expanded group that now contains 44 total teams across three tiers. Harmony Tier (2000-2999 w/ 2650 avg), Discord Tier (3000-3800 w/ 3400 SR) and Transcendence Tier (Open Tier).
    <br/><br/>
    The OWTC is open to all players in the Gold (2000 SR) to Top 500, it is meant to be an inclusive space to help build a community of competition and friendship.
    <br/><br/>
    I am looking forward to working with all of you to continue this community's success for years to come!
    </br><br/>
    Thank You,
    <br/>
    Cavalier
    <br/>
    Commissioner
</p>
<i>-- Season 4 starts February 25, 2020, <a href="https://www.twitch.tv/owtranquility" style="color: #CC922E;">Watch the latest matches on twitch.tv</a> --</i>
  </div>
</div>