<br/><br/>
<div class="three-images-wrapper">
	<div class="three-images">
    <div class="featured-image-outer">
      <%= link_to tier_discord_path, class: "featured-image-inner", style: "background-image: url(#{asset_path 'splash/zen-discord.jpg'})" do %>
        <h1 style="color: black;">Discord</h1>
      <% end %>
      </div>
    <div class="featured-image2-outer">
      <%= link_to tier_harmony_path, class: "featured-image2-inner", style: "background-image: url(#{asset_path 'splash/zen-harmony.jpg'})" do %>
        <h1 style="color: black;">Harmony</h1>
      <% end %>
    </div>
	</div>
</div>
<!-- parallax testing
<div class="row">
  <div class="parallax" style="background-image: url(<%= asset_path 'splash/overwatch-logo-small.png' %>)">
    <h3 class="parallax-call-action">Meet the teams</h3>
  </div>
</div>
-->

<div class="container">
<%= render 'home/news' %>
</div>