<div style="background-image: url(<%= asset_path 'mainpageBackdrop.png' %>); background-size: cover; background-repeat: no-repeat; background-position: cover; width: 100vw; height: 100vh;" >
<div class="container">
<div class="row justify-content-md-center align-items-center">
<div class="col-sm-10">
<%= render 'home/welcome'%>
</div>
</div>
</div>
</div>
