  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
          <a class="text-dark" href="#">Comets</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 3500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <%= link_to 'Team Page', team_comets_path, style: 'color: #000;' %>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="max-width: 200px;" src="<%= asset_path 'owt_logo_small.png' %>">
    </div>
  </div>