<% team = Team.find_by_name("ALT F4") %>
<div class="row align-items-center justify-content-center top-cover-splash-altf4">
    <div class="col-md-2">
        <img style="max-height: 250px;" src="<%= asset_path 'season_three_teams/discord/altf4_too.png' %>">
    </div>
    <%= render partial: 'team/header_info', locals: {team: team} %>
</div>
<br/><br/>
<%= render partial: 'team/player_list', locals: {team: team} %>