<% team = Team.find_by_name("InVictus") %>
<div class="row align-items-center justify-content-center top-cover-splash-invictus">
    <div class="col-md-2">
        <img style="max-height: 250px;" src="<%= asset_path 'season_three_teams/discord/InVictus.png' %>">
    </div>
    <%= render partial: 'team/header_info', locals: {team: team} %>
</div>
<br/><br/>
<%= render partial: 'team/player_list', locals: {team: team} %>