footer {
  position: relative;
  margin-top: -90px; /* negative value of footer height */
  height: 60px;
  clear: both;
  padding-top: 20px;
}

.footer-link {
  color: #000 !important;
  text-decoration: none !important;    
}