#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 90px; /* this needs to be bigger than footer height*/
  padding-top: 118px;
}

footer {
  position: relative;
  margin-top: -90px; /* negative value of footer height */
  height: 60px;
  clear: both;
  padding-top: 20px;
}

body {
  margin-top: -60px;
}

.footer-link {
  color: #000 !important;
  text-decoration: none !important;    
}