

.top-cover-splash-aimbots {
    background-color: #9e1c2e;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-link-black {
    color: #000;
    text-decoration: none !important;
}

.top-cover-link-black:hover {
    color: #333;
    text-decoration: none !important;
}

.top-cover-link-black:active {
    color: #333;
    text-decoration: none !important;
}