.three-images-wrapper {
    overflow: hidden;

  .three-images {
    margin-bottom: 4rem;
    min-height: 25vh;
    position: relative;
  }
  
  .featured-image-outer {
    position: absolute;
    margin-left: -10%;
    min-height: 360px;
    overflow: hidden;
    width: 58.5%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */
  }

  .featured-image-inner,
  .two-images-inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  
  .featured-image-inner {
    left: 50px;
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    -ms-transform: skew(15deg,0deg); /* IE 9 */
    -webkit-transform: skew(15deg,0deg); /* Safari */
    transform: skew(15deg,0deg); /* Standard syntax */
  }
  
  
  .featured-image2-outer {
    position: absolute;
    margin-left: 50%;
    min-height: 360px;
    overflow: hidden;
    width: 75.5%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */
  }

  .featured-image2-inner,
  .two-images-inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  
  .featured-image2-inner {
    left: -50px;
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    -ms-transform: skew(15deg,0deg); /* IE 9 */
    -webkit-transform: skew(15deg,0deg); /* Safari */
    transform: skew(15deg,0deg); /* Standard syntax */
  }
}
