.top-cover-splash-aimbots {
    background-color: #9e1c2e;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-altf4 {
    background-color: #fed87e;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-boop {
    background-color: #7b2a8c;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-carelesspandas {
    background-color: #be9e73;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-comets {
    background-color: #46cdf7;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-ddos {
    background-color: #e92f84;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-eclipse {
    background-color: #9a5800;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-elusion {
    background-color: #3a0d4c;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-fightingpotatoes {
    background-color: #dfdadf;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-franticlavacats {
    background-color: #f48921;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-gravity {
    background-color: #83459a;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-harmonyinchaos {
    background-color: #b98f58;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-holyjalapenos {
    background-color: #2f602f;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-infius {
    background-color: #2ba7ae;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-instaloch {
    background-color: #dbdbdb;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-invictus {
    background-color: #733a91;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-jetpackcats {
    background-color: #a04a44;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-karma {
    background-color: #680002;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-kommit {
    background-color: #e5ca79;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-maelstrom {
    background-color: #14efef;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-majestyruby {
    background-color: #ac0000;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-meteors {
    background-color: #f97e46;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-mintyhippos {
    background-color: #cca3cc;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-otaku {
    background-color: #295787;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-overtime {
    background-color: #ffc123;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-pacifiedpythons {
    background-color: #bb9365;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-prodigious {
    background-color: #f50606;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-renovatio {
    background-color: #e5dbb2;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-ride {
    background-color: #00464d;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-snowday {
    background-color: #e4e4e4;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-sparechange {
    background-color: #f6aeb3;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-sugarrush {
    background-color: #ff52a4;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-toughluck {
    background-color: #7c000c;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-undedbattery {
    background-color: #6c745e;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}

.top-cover-splash-vitaminc {
    background-color: #e27919;
    height: 32vh;
    border-bottom-color: rgba(55, 55, 55, 0.4);
    border-bottom: 1vh;
    border-bottom-style: solid;
}



.top-cover-link-black {
    color: #000;
    text-decoration: none !important;
}

.top-cover-link-black:hover {
    color: #333;
    text-decoration: none !important;
}

.top-cover-link-black:active {
    color: #333;
    text-decoration: none !important;
}